*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior:smooth;
    transition: all 0.5s ease-in;
    font-size: 100%;
    
}
body{ 
    width: 100%;
  background: #F0FAF2;
   background-size:100%;  
}


header {   width: 100%;
    text-align: center ;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: fixed;
    display: flex; 
    z-index: 10000;
    letter-spacing: .0625rem;
    background: #F0FAF2; 
    
}
header .logo img{
    margin-left: 4.375rem;
    width: 2.625rem;
    border-radius: 50% 50% 50% 50%;
}
header .navbar1{ margin-left: 18.75rem;}
header .navbar1 a{
    text-decoration: none;
    color:black;
   display: inline-block;
   justify-content: space-evenly;
    margin: 1.5rem;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
header .navbar1 a:hover{
    transition: all 0.23s ease-in;
    transform: scale(1.05);
    color: white;
    transform: scale(1.1);
    background:green;
}
header .navbar1 a:visited{
    background-color: rgba(0,0,0,0.5);
}
.navbar2{
    margin-left: 13.75rem;
}
.navbar2 .btn  :nth-child(1){
  height: 1.8125rem;
  border-radius: 5% 5% 5% 5%;
  transform: translate(-2%,-8%);
}
.navbar2 .btn :nth-child(2){
    height: 1.5rem;
    width: 3.4375rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    border-radius: 10% 10% 10% 10%;
    background-color: green;
    color: aliceblue;
    
}
.navbar2 .btn :nth-child(2):hover{
    color: black;
    background-color: yellow;
    transition: all 0.35s ease-in;
}

section{
    padding: 2rem 8rem;
}
.home{
    background-image: url(/img/tasbir2.jpg);
    width: 100%;
    height: 49rem;
    background-position:relative;
   background-repeat: no-repeat;
   background-size:100%;
    background-attachment: fixed;
}
.home :hover{
    background: #F0FAF2;
    border-radius: 10% 0 10% 0;
}
.home .main{
    max-width: 37.5rem;
    border-left: .5rem groove #45B34A;
    border-top-left-radius:5% ;
    border-bottom-left-radius: 5%;
    margin-left: 3.125rem;
    animation:head 1s  ease-in-out 1;
    animation-play-state: running;
   
}
.home .main .btn1{
    width: 5.3125rem;
    font-family:'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif 'Trebuchet MS', sans-serif;
    background: white;
    font-size: 1rem;
    height: 1.75rem;
    border-radius: 10% 0 10% 0;
   margin-left: 14rem;
   animation:head 5s  ease-in-out 1;
    color: #F0FAF2;
}
.home .main .btn1 a{
    text-decoration: none;
}
.home .main .btn1 a:hover{
    background-color: #6CCB82;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.home .main .btn1:hover{
    background-color: #6CCB82;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.home .main h2{
   max-width: 12.5rem;
    max-height: 3.125rem;
    font-size: 3rem;
    margin-top: 12.5rem;
   color: black;
   animation:head 5s  ease-in-out 1;
   animation-play-state: running;
   text-transform: uppercase;
   transform: scale(1.01);
   

}

@keyframes head{
    0%{
        opacity: 0; 
    }
    15%{
       opacity: 0;
       transform: translate(-50% ,-50%);
        
    }
    20%{
       opacity: 0;
       transform: translate(-300%,-300%);
    }
    50%{
       opacity: 1;
    }
    
}

.home .main .summary span{
    line-height: 1.2;
    white-space: normal;
}
.home .main h2 span:nth-child(1){color: black;}
.home .main h2 span:nth-child(2){color: black;}
.home .main h2 span:nth-child(3){color: black}
.home .main h2 span:nth-child(4){color:#45B34A}
.home .main h2 span:nth-child(5){color: #45B34A;}
.home .main h2 span:nth-child(6){color: #45B34A;}
.home .main .summary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.home .main .summary span:nth-child(1){ animation:head 18s  ease-in-out 1;
    color: black;font-weight: bold;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.home .main .summary span:nth-child(2){
    animation:head 22s  ease-in-out 1;color: black;font-weight: bold;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.home .main .summary span:nth-child(3){
    animation:head 22s  ease-in-out 1;color: #D62A76;font-weight: bold;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.home .main .summary span:nth-child(4) a{font-weight: lighter;
    animation:head 22s  ease-in-out 1;
    color: blue;
}

.home .main .summary span:nth-child(4) a:hover{color:#45B34A;
    font-weight: bolder;
    transition: all 0.1s ease-in;
}



.home .main p{
   color: black;
   font-size: 1rem;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: lighter;
   overflow: hidden;
   animation:head 4s  ease-in-out 1,typing 5s steps(80,end) infinite;
   white-space: nowrap;
   
  
}
@keyframes typing{
    from{width:0;}
    to{width: 100%;}
}

#about h3{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: black;
}

.box1{
color:black;
font-weight: bolder;
margin-top: 2rem;
font: 1.5rem sans-serif;

}
.about{
    font-weight: bold;
    background-color: #F0FAF2;
   
   
}
.member1{
   margin-top: 1rem;
    max-width: 35rem;
    padding: .625rem;
    margin-left: 15.5rem;
    color: black;
    font-weight: lighter;
   
   
}
.member1 img{ 
    margin-left: 35rem;
    margin-top: -20rem;
    width: 18.75rem;
    border-radius: 10% 10% 10% 10%;
    box-shadow: .1rem .1rem .1rem .1rem green; 
    
}
.member2 img{
    margin-left: -45rem;
    margin-top:-25rem;
    width: 18.75rem;
    border-radius: 10% 10% 10% 10%;
    box-shadow: .1rem .1rem .1rem .1rem green;
  
}
#about img:hover{
 transform: scale(1.05);
 transition: all 1s ease-in-out;
}
.member2{
    margin-top: 1rem;
    max-width: 31.5625rem;
    padding: .625rem;
    margin-left: 35rem;
    font-weight: lighter; 
}

.socialmedia1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: -0.6875rem;
    margin-left: 41rem;
    padding: 1.1875rem;
}
.socialmedia2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: -0.6875rem;
    margin-left: -30rem;
    padding: 1.1875rem;
}

.icon{
    display: inline-block;
    text-decoration: none;
    height: 3rem;
    width: 3rem; 
}
.icon:nth-child(1){
    height: 3rem;
    width: 3rem;
   display: inline-block;
    padding: .5rem 0 .625rem 0;
    
}
.icon:nth-child(1):hover{
    background:#45B34A;
    opacity: 0.9;
    border-radius: 10% 10% 10% 10%;
}
.icon:nth-child(2){
padding: .5rem 0 .625rem 0;
}
.icon:nth-child(2):hover{
    background:#45B34A;
    opacity: 0.9;
    border-radius: 10% 10% 10% 10%;
}

.icon:nth-child(3){
padding: .5rem 0 .625rem 0;
}
.icon:nth-child(3):hover{
    background:#45B34A;
    opacity: 0.9;
    border-radius: 10% 10% 10% 10%;
}

.fa-facebook-f{
    height: 2rem;
 width: 1.95rem;
 font-size: 1.5rem;
   text-decoration: none;
     color: white;
     position: relative;
    background: #0167F8;
    box-shadow: 0 .0625rem .1875rem 0 #0167F8 ;
    border-radius: 50% 50% 50% 50%;
    padding: .4375rem .75rem .3125rem 0.53125rem;
}
.fa-instagram{
    height: 2rem;
    width: 1.95rem;
    font-size: 1.5rem;
      text-decoration: none;
        color: white;
        position: relative;
       background: #D62A76;
       box-shadow: 0 .0625rem .1875rem 0 #D62A76 ;
       border-radius: 50% 50% 50% 50%;
       padding: .3125rem .75rem .3125rem .40625rem;
}
.fa-linkedin-square{
    height: 2rem;
    width: 1.95rem;
    font-size: 1.5rem;
      text-decoration: none;
        color: white;
        position: relative;
       background: #4F5BD5;
       box-shadow: 0 .0625rem .1875rem 0 #4F5BD5;
       border-radius: 50% 50% 50% 50%;
       padding:  .3125rem .75rem .3125rem .40625rem;

}
.icon .fa a:hover{
    background: #45B34A;
}
#services{
    background: #F0FAF2;
}
#services h3{
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    color: black;
}

#services .box span{
    flex-direction: row;
    width: 23.68rem;
    display: inline-flex;  
}

#services .box span:nth-child(1):hover{
    transition: all 0.5s ease-in-out;
    background: #6CCB82;
   
}
#services .box span:nth-child(2):hover{
    transition: all 0.5s ease-in-out;
    background: #6CCB82;  
}
#services .box span:nth-child(3):hover{
    transition: all 0.5s ease-in-out;
    background: #6CCB82;
}
#services .box span:nth-child(2){
    margin-left: 5%;
}
#services .box span p{
    margin-left: 18%;
    margin-top: 5%;
    width: 0rem;
    font-size: 1.2rem; 
}

#services .box span:nth-child(1) div a{
    background: red;
    border-radius: 10% 0 10% 0;
    text-transform:capitalize;
    color: white;
    
}
#services .box span:nth-child(1) div a:hover{
    background: #6CCB82;
    transition: all 0.3s ease-in;
}
#services .box span:nth-child(2) div a{
    background: blue;
    border-radius: 10% 0 10% 0;
    text-transform:capitalize;
    color: white;
    
}
#services .box span:nth-child(2) div a:hover{
    background: #6CCB82;
    transition: all 0.3s ease-in;
}
#services .box span:nth-child(3) div a{
    background: green;
    border-radius: 10% 0 10% 0;
    text-transform:capitalize;
    color: white;
    
}
#services .box span:nth-child(3) div a:hover{
    background: #6CCB82;
    transition: all 0.3s ease-in;
}
#services .box span div {
   margin-left: -15%;
    margin-top: 10%;
    padding: 2%;
}
#services .box span:nth-child(3){
   margin-left: 5%;
}
#services img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #6CCB82;
    margin-top: 14%;
    margin-left: 1%;
    
}
.box img:nth-child(1){
    border: 1px none red;
}
.box img:nth-child(1):hover{
    border: 3px solid #6CCB82 ;
   
}
.box img:nth-child(2){
    margin-left: 8%;
    border: .0625rem solid white;
}
.box img:nth-child(3){
    margin-left: 8%;
    border: .0625rem solid white;
}
#contact{
    background: url(/img/form.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.contact form{
    border-radius: .625rem .625rem .625rem .625rem; 
}
.contact h3{
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    color: #F0FAF2;
    font-weight: bolder;
    
}
.contact form .input {
    border-radius: .625rem .625rem .625rem .625rem;
    background: url(/img/background.jpg);
    background-blend-mode: darken;
    transform: translate(115%,5%);
    padding-top:.625rem;
    width: 24rem;
    line-height:.1.48;
    height: 33rem;
    text-align: center;
    box-shadow: .125rem .1625rem .1625rem .1625rem aqua;
}
.contact form .input span{
    padding: .0625rem;
    margin-top: .0625rem;
    text-transform: uppercase;
    color:#F0FAF2;
    display: grid;
    transform: translate(1%,150%);
}
.contact form .input input,.contact form textarea{border:2px solid rgba(0,0,0,0.1);
    font-size: .625rem;
    padding: .625rem;
    margin: .1875rem 0;
    text-transform: none;
   color: grey;
   transform: translate(1%,90%);
}
.contact form .input input{
    margin: .0625rem;
    width: 12rem;
    border-radius: .625rem .625rem .625rem .625rem;
    box-shadow: .0625rem .0625rem .0625rem .0625rem aqua inset;
    background: url(/img/form.jpeg);
    color: aqua;
    font-weight: bolder;
}
.contact form textarea{
    width: 12rem;
    resize: none;
    border-radius: .625rem;
    transform: translate(23%,22%);
    box-shadow:.0625rem .0625rem .0625rem .0625rem aqua inset;
    background: url(/img/form.jpeg);
    color: aqua;
    font-weight: bolder;
}
.contact form .input .btn3{
   background:url(/img/form.jpg);
   color: #F0FAF2;
   font-weight: bolder;
   transform: translate(-130%,200%);
    width: 4.5rem;
    border-radius: .625rem .625rem .625rem .625rem inset;
}
.contact form .input .btn3:hover{
    background: url(/img/form.jpeg);
    color: aquamarine;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact form .input input::placeholder{
    text-transform: capitalize;
    color: grey;
    font-weight: lighter;
}
footer{text-align: center;
    width: 100%;
    height: 10rem;
    background: url(/img/footer.jpg);
    border-radius: .625rem .625rem .625rem .625rem;
}
footer p{
    color: #45B34A;
    transform: translate(0%,50%);
    font-size: 1rem;
    font-weight: bolder;
    margin-left: -5%;
}
footer p a{ font-size: 1.2rem;
    text-decoration: none;
    color: green;
    font-weight: bolder;
    padding: .125rem;
    margin: .125rem;
}
footer p span{
    font-size: 1.03rem;
    margin-left: -22%;
    color: #45B34A;
    font-weight: lighter;
   
}
footer .iconfoot{
    transform: translate(10%,55%);
    font-size: 1.4rem;
}
.menu{
    visibility:hidden;
}

@media(width<1500px){
    html{
        font-size: 92.5%;
    }
}
@media(width<1026px){
    html{
        font-size: 62.5%;
    }
    .navbar2 .btn  :nth-child(1){
        width: 15rem; 
       }
       .navbar2 .btn :nth-child(2){
           width: 3.4375rem; 
           height: 1.5rem;
           transform: translate(-2%,-10%);
       }
       .socialmedia1{
              margin-left: 34rem;
       }
       .socialmedia2{
                  margin-left: -37rem;
       }
       .contact h3{
        transform: translate(-1%,-20%);
      }
      .contact form .input{
        transform: translate(125%,1%);
      }
      
     
}


@media(width<769px){
    html{
        font-size: 45.5%;
    }
    .navbar2 .btn  :nth-child(1){
       width: 15rem; 
       height: 2rem;
      }
      .navbar2 .btn :nth-child(2){
          width: 3.5375rem; 
          height: 1.8rem;
          transform: translate(-2%,-19%);
      }
      .socialmedia1{
        margin-left: 33rem;
      }
      .socialmedia2{
        margin-left: -39rem;
      }
      .contact h3{
        transform: translate(-1%,-20%);
      }
      .contact form .input{
        transform: translate(130%,1%);
      }
      .contact form .input span{
        transform: translate(1%,80%);
      }
      .contact form .input input{
        transform: translate(1%,38%);
      }
      .contact form .input textarea{
        transform: translate(20%,20%);
      }
      .contact form .input .btn3{
        transform: translate(-140%,155%);
      }
}

@media(width<450px){
    html{
        font-size: 25.5%;
    }
    .navbar2 .btn  :nth-child(1){
        width: 14rem; 
        height: 2.5rem;
       }
    .navbar2 .btn input::placeholder{
        font-size: 2.7rem;
       }

    .navbar2 .btn :nth-child(2){
           width: 3.5375rem; 
           height: 2rem;
           transform: translate(-2%,-45%);
       }
       .contact form .input input{
                 height: 3rem;
       }
       .contact form .input textarea{
        height: 5rem;
       }
       .contact form .input .btn3{
        transform: translate(-140%,105%);
        background: blue;
      }
}
@media(width<400px){
    html{
        font-size: 18.5%;
    }
    .navbar1{
        display: none;
    }
    
}