*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#eee,rgba(0, 0, 0, .5));
}
.taskcalculator{
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin-left: -9.7%;
    background: white;
    border-radius: 15px;
    box-shadow: 4px 4px 3px 5px rgba(0, 0, 0, .5),-4px -4px 3px 5px rgba(0, 0, 0, .5);
}
.digitsbtns{
    display: grid;
    grid-template-columns: repeat(5,52px);
    grid-gap:20px;
    text-align: justify;
}
.calculator{
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 6px;
    text-align: right;
    margin-bottom: 7%;
    font-size: 55px;
    pointer-events: none;
    background: skyblue;
}
.digitsbtns button{
    padding: 10px;
    border-radius: 6.5px;
    border: none;
    background-color: #eee;
    font-size: 17px;
    cursor: pointer;
    box-shadow:1px 1px 2px 4px rgba(0, 0, 0, 0),-1px -1px 1.87px 3.5px rgba(0, 0, 0, .09);;
}
.digitsbtns button:active{
    transform: scale(0.7);
    transition: all 0.2s ease-in-out;
}
.clear{
    color: black;
    background-color: green;
}
.operator{
   color: green;
}
.digitsbtns button:nth-child(3){
    background-color: lightgreen;
}
.digitsbtns button:nth-child(2){
    background-color: lightgreen;
}
.digitsbtns button:nth-child(9){
    background-color: green;
    color: white;
}
.digitsbtns button:nth-child(10){
    background-color: green;
    color: white;
}

.digitsbtns button:nth-child(1){
    background-color: yellow;
}
.digitsbtns button:nth-last-child(1){
    background-color: orange;
    grid-column: span 2;
    font-size: 150%;
}
.theme {
   text-align: right;
   max-width: 25%;
   width: 25%;
   font-size: 150%;
   color: #F79020;
   margin-top: 36.5%;
   margin-left: -35.5%;
}
.fa-circle:nth-child(1){
    color: black;
}
.fa-circle:nth-child(2){
    color: aqua;
}
.fa-circle:nth-child(3){
    color: white;
}
#OFF{
    color: red;
}